<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>All Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Add Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="trash-outline"></ion-icon>
      <ion-label>Delete Task</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
